{% extends "layouts/base-fullscreen.html" %}

{% block title %} Reset Password {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} bg-soft {% endblock body_class %}

{% block content %}

    <main>

        <!-- Section -->
        <section class="vh-lg-100 bg-soft d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <h1 class="h3 mb-4">Resetar Senha</h1>
                            <form method="post">
                                {% csrf_token %}
                                <!-- Form -->
                                <div class="mb-4">
                                    <label for="password">Nova Senha</label>
                                    <div class="input-group">
                                        {{form.new_password1}}
                                    </div>  
                                    <span class="text-error">{{ form.new_password1.errors }}</span>
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="mb-4">
                                    <label for="confirm_password">Confirmar Senha</label>
                                    <div class="input-group">
                                         {{form.new_password2}}
                                    </div>  
                                    <span class="text-error">{{ form.new_password2.errors }}</span>
                                </div>
                                <!-- End of Form -->
                                <button type="Submit" class="btn btn-block btn-primary">Resetar senha</button>
                            </form>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    Voltar para
                                    <a href="./sign-in.html" class="font-weight-bold">login page</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
