{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} bg-soft {% endblock body_class %}

{% block content %}

    <main>

        <!-- Section -->
        <section class="vh-lg-100 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image" data-background="/static/assets/img/illustrations/signin.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="col-12 text-center text-md-center mb-4 mt-md-0">
                                {% include 'includes/messages.html' %}
                            </div>  
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Acesse sua conta</h1>
                            </div>
                            
                            <form method="post" action="" class="mt-4">

                                {% csrf_token %}   
                               
                                <div class="form-group">
                                    
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="email">Seu Usuário</label>
                                            <div class="input-group">
                                                <!--<span class="input-group-text" id="basic-addon1"><span class="fas fa-envelope"></span></span>
                                                <input type="email" class="form-control" placeholder="example@company.com" id="email" autofocus required>-->
                                                <span class="input-group-text" id="basic-addon1"><span class="fas fa-user-circle"></span></span>
                                                {{ form.username }}
                                            </div>  
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="password">Sua Senha</label>
                                        <div class="input-group">
                                            <!--<span class="input-group-text" id="basic-addon2"><span class="fas fa-unlock-alt"></span></span>
                                            <input type="password" placeholder="Password" class="form-control" id="password" required>-->
                                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-unlock-alt"></span></span>
                                            {{ form.password }}
                                        </div>  
                                    </div>
                                    <!-- End of Form -->
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <!--<div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                                            <label class="form-check-label" for="defaultCheck5">
                                              Lembrar de mim
                                            </label>
                                        </div>-->
                                        <div><a href="{% url 'reset_password' %}" class="small text-right">Esqueceu a senha?</a></div>
                                    </div>
                                </div>
                                <button type="submit" name="login" class="btn btn-block btn-primary ">Entrar</button>
                            </form>
                            <!--<div class="mt-3 mb-4 text-center">
                                <span class="font-weight-normal">or login with</span>
                            </div>
                            <div class="btn-wrapper my-4 text-center">
                                <button class="btn btn-icon-only btn-pill btn-outline-light text-facebook mr-2" type="button" aria-label="facebook button" title="facebook button">
                                    <span aria-hidden="true" class="fab fa-facebook-f"></span>
                                </button>
                                <button class="btn btn-icon-only btn-pill btn-outline-light text-twitter mr-2" type="button" aria-label="twitter button" title="twitter button">
                                    <span aria-hidden="true" class="fab fa-twitter"></span>
                                </button>
                                <button class="btn btn-icon-only btn-pill btn-outline-light text-facebook" type="button" aria-label="github button" title="github button">
                                    <span aria-hidden="true" class="fab fa-github"></span>
                                </button>
                            </div>-->
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    Não tem conta?
                                    <a href="{% url 'register' %}" class="font-weight-bold">Cadastre-se</a>
                                </span>
                            </div>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <p> Ou se preferir visualize a conta exemplo </p>
                            </div>
                            <div class="d-flex justify-content-center align-items-center ">
                                <p> <strong>Usuário:</strong> teste <strong>Senha:</strong> user1234 </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
